aiofiles==0.8.0
colorama==0.4.5
colored==1.4.3
dict-toolbox==2.3.0
Jinja2==3.1.2
lazy-object-proxy==1.7.1
MarkupSafe==2.1.1
msgpack==1.0.4
nest-asyncio==1.5.5
numpy==1.23.2
opencv-python==4.6.0.66
pandas==1.4.3
pop==21.0.2
pop-config==9.0.0
pop-loop==1.0.4
python-dateutil==2.8.2
pytz==2022.2.1
PyYAML==6.0
rend==6.4.4
Shapely==1.8.2
six==1.16.0
sniffio==1.2.0
tdqm==0.0.1
toml==0.10.2
tqdm==4.64.0
